<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Comment</title>
</head>
<body>
    <form action="/comments" method="post">
        <section>
            <label for="username">Username:</label> <input type="text" name="username" id="username" placeholder="username">
        </section>
        <section>
            <label for="comment">Comment</label> <br> <textarea name="comment" id="comment" cols="30" rows="10" placeholder="The lazy brown fox jumps over the..."></textarea>
        </section>
        <button type="submit">Post</button>
        <form action="/comments" method="get">
            <input type="submit" name="new" value="Back" />
        </form>
    </form>
</body>
</html>