body {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    text-align: center;
}
#container {
    background-color: #003049;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid #003049;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    flex-wrap: wrap;
    align-items: flex-end;
    /* align-content: center; */
    /* align-content: space-around; */
}
#container div {
    width:200px;
    height: 200px;
    text-align: center;
    font-size: 5em;
}
#container div:nth-of-type(2) {
    align-self: center;
}
main {
    display: flex;
    width: 80%;
    height: 500px;
    border: 5px solid #003049;
    margin: 0 auto;
}
h2 {
    text-align: center;
}
main .sidebar {
    flex: 1 2 300px;
    background-color: rgb(209, 125, 205);
}
main .maincontent {
    background-color: rgb(107, 214, 148);
    flex: 2 1 800px;
}
